<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bole.po.dao.user.UserScoreDetailMapper">
	<resultMap id="BaseResultMap" type="com.bole.po.model.user.UserScoreDetail">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="user_id_from" property="userIdFrom" jdbcType="NUMERIC" />
		<result column="user_id_to" property="userIdTo" jdbcType="NUMERIC" />
		<result column="score" property="score" jdbcType="DECIMAL" />
		<result column="score_money" property="scoreMoney" jdbcType="DECIMAL" />
		<result column="score_type" property="scoreType" jdbcType="NUMERIC" />
		<result column="score_pre" property="scorePre" jdbcType="DECIMAL" />
		<result column="score_after" property="scoreAfter" jdbcType="DECIMAL" />
		<result column="link_detail_id" property="linkDetailId" jdbcType="NUMERIC" />
		<result column="link_back_level" property="linkBackLevel" jdbcType="NUMERIC" />
		<result column="link_back_ratio" property="linkBackRatio" jdbcType="DECIMAL" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id_from, user_id_to, score, score_money, score_type, score_pre, score_after, link_detail_id, 
		link_back_level, link_back_ratio, remarks,
		add_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_score_detail
		where id = #{id,jdbcType=NUMERIC}
	</select>
	
	<select id="selectBySearchVo" resultMap="BaseResultMap" parameterType="com.bole.vo.UserSearchVo">
		select
		<include refid="Base_Column_List" />
		from user_score_detail
		<include refid="bySearchVo"/>
		order by id desc
	</select>
	
	<select id="selectByListPage" resultMap="BaseResultMap" parameterType="com.bole.vo.UserSearchVo">
		select
		<include refid="Base_Column_List" />
		from user_score_detail
		<include refid="bySearchVo"/>
		order by id desc
	</select>
	
	<select id="totalScoreMoney" resultType="java.math.BigDecimal" parameterType="com.bole.vo.UserSearchVo">
		select
		sum(score_money) as total
		from user_score_detail
		<include refid="bySearchVo"/>
	</select>
	
	<sql id="bySearchVo">
	    where 1 = 1
	    <if test="userIdFrom != null">
			and user_id_from = #{userIdFrom,jdbcType=NUMERIC}
		</if>
		
		<if test="gameIdFrom != null and gameIdFrom != ''">
			and user_id_from = (select user_id from user where game_id = #{gameIdFrom,jdbcType=VARCHAR})
		</if>
		
		<if test="userIdTo != null">
			and user_id_to = #{userIdTo,jdbcType=NUMERIC}
		</if>
		
		<if test="gameIdTo != null and gameIdTo != ''">
			and user_id_to = (select user_id from user where game_id = #{gameIdTo,jdbcType=VARCHAR})
		</if>
		
		<if test="scoreMoney != null">
			and score_money = #{scoreMoney,jdbcType=DECIMAL}
		</if>
		
		
	    <if test="scoreType != null">
			and score_type = #{scoreType,jdbcType=NUMERIC}
		</if>
		
		<if test="scoreTypes != null and scoreTypes">
			and score_type in
			<foreach item="item" index="index" collection="scoreTypes" open="(" separator="," close=")">
				${item}
			</foreach>
		</if>
		
		<if test="linkDetailId != null">
			and link_detail_id = #{linkDetailId,jdbcType=NUMERIC}
		</if>
		
		<if test="startAddTime != null">
			<![CDATA[and add_time >= #{startAddTime,jdbcType=NUMERIC}]]>
		</if>
		
		<if test="startEndTime != null">
			<![CDATA[and add_time <= #{startEndTime,jdbcType=NUMERIC}]]>
		</if>
		
	</sql>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_score_detail
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.bole.po.model.user.UserScoreDetail">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user_score_detail (user_id_from, user_id_to, score, score_money,
		score_type, score_pre, score_after, link_detail_id, link_back_level, link_back_ratio, 
		remarks, add_time)
		values (#{userIdFrom,jdbcType=NUMERIC}, #{userIdTo,jdbcType=NUMERIC}, #{score,jdbcType=DECIMAL},
		#{scoreMoney,jdbcType=DECIMAL},
		#{scoreType,jdbcType=NUMERIC}, #{scorePre,jdbcType=DECIMAL}, 
		#{scoreAfter,jdbcType=DECIMAL}, #{linkDetailId,jdbcType=NUMERIC},
		#{linkBackLevel,jdbcType=NUMERIC}, #{linkBackRatio,jdbcType=DECIMAL},
		#{remarks,jdbcType=VARCHAR}, #{addTime,jdbcType=NUMERIC})
	</insert>
	<insert id="insertSelective" parameterType="com.bole.po.model.user.UserScoreDetail">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user_score_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userIdFrom != null">
				user_id_from,
			</if>
			<if test="userIdTo != null">
				user_id_to,
			</if>
			<if test="score != null">
				score,
			</if>
			<if test="scoreMoney != null">
				score_money,
			</if>
			<if test="scoreType != null">
				score_type,
			</if>
			<if test="scorePre != null">
				score_pre,
			</if>
			<if test="scoreAfter != null">
				score_after,
			</if>
			<if test="linkDetailId != null">
				link_detail_id,
			</if>
			<if test="linkBackLevel != null">
				link_back_level,
			</if>
			<if test="linkBackRatio != null">
				link_back_ratio,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userIdFrom != null">
				#{userIdFrom,jdbcType=NUMERIC},
			</if>
			<if test="userIdTo != null">
				#{userIdTo,jdbcType=NUMERIC},
			</if>
			<if test="score != null">
				#{score,jdbcType=DECIMAL},
			</if>
			<if test="scoreMoney != null">
				#{scoreMoney,jdbcType=DECIMAL},
			</if>
			<if test="scoreType != null">
				#{scoreType,jdbcType=NUMERIC},
			</if>
			<if test="scorePre != null">
				#{scorePre,jdbcType=DECIMAL},
			</if>
			<if test="scoreAfter != null">
				#{scoreAfter,jdbcType=DECIMAL},
			</if>
			<if test="linkDetailId != null">
				#{linkDetailId,jdbcType=NUMERIC},
			</if>
			<if test="linkBackLevel != null">
				#{linkBackLevel,jdbcType=NUMERIC},
			</if>
			<if test="linkBackRatio != null">
				#{linkBackRatio,jdbcType=DECIMAL},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bole.po.model.user.UserScoreDetail">
		update user_score_detail
		<set>
			<if test="userIdFrom != null">
				user_id_from = #{userIdFrom,jdbcType=NUMERIC},
			</if>
			<if test="userIdTo != null">
				user_id_to = #{userIdTo,jdbcType=NUMERIC},
			</if>
			<if test="score != null">
				score = #{score,jdbcType=DECIMAL},
			</if>
			<if test="scoreMoney != null">
				score_money = #{scoreMoney,jdbcType=DECIMAL},
			</if>
			<if test="scoreType != null">
				score_type = #{scoreType,jdbcType=NUMERIC},
			</if>
			<if test="scorePre != null">
				score_pre = #{scorePre,jdbcType=DECIMAL},
			</if>
			<if test="scoreAfter != null">
				score_after = #{scoreAfter,jdbcType=DECIMAL},
			</if>
			<if test="linkDetailId != null">
				link_detail_id = #{linkDetailId,jdbcType=NUMERIC},
			</if>
			<if test="linkBackLevel != null">
				link_back_level = #{linkBackLevel,jdbcType=NUMERIC},
			</if>
			<if test="linkBackRatio != null">
				link_back_ratio = #{linkBackRatio,jdbcType=DECIMAL},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bole.po.model.user.UserScoreDetail">
	update user_score_detail
	set user_id_from = #{userIdFrom,jdbcType=NUMERIC},
	user_id_to = #{userIdTo,jdbcType=NUMERIC},
	score = #{score,jdbcType=DECIMAL},
	score_money = #{scoreMoney,jdbcType=DECIMAL},
	score_type = #{scoreType,jdbcType=NUMERIC},
	score_pre = #{scorePre,jdbcType=DECIMAL},
	score_after = #{scoreAfter,jdbcType=DECIMAL},
	link_detail_id = #{linkDetailId,jdbcType=NUMERIC},
	link_back_level = #{linkBackLevel,jdbcType=NUMERIC},
	link_back_ratio = #{linkBackRatio,jdbcType=NUMERIC},
	remarks = #{remarks,jdbcType=VARCHAR},
	add_time = #{addTime,jdbcType=NUMERIC}
	where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>