<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bole.po.dao.user.UserScoreCashMapper">
	<resultMap id="BaseResultMap" type="com.bole.po.model.user.UserScoreCash">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="user_id" property="userId" jdbcType="NUMERIC" />
		<result column="score_cash" property="scoreCash" jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="NUMERIC" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
		<result column="update_time" property="updateTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, score_cash, status, add_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_score_cash
		where id = #{id,jdbcType=NUMERIC}
	</select>
	
	<select id="selectBySearchVo" resultMap="BaseResultMap" parameterType="com.bole.vo.UserSearchVo">
		select
		<include refid="Base_Column_List" />
		from user_score_cash
		<include refid="bySearchVo"/>
		order by update_time desc
	</select>
	
	<select id="selectByListPage" resultMap="BaseResultMap" parameterType="com.bole.vo.UserSearchVo">
		select
		<include refid="Base_Column_List" />
		from user_score_cash
		<include refid="bySearchVo"/>
		order by status asc, update_time desc
	</select>
	
	<select id="totalCash" resultType="java.math.BigDecimal" parameterType="com.bole.vo.UserSearchVo">
		select sum(score_cash) as total
		from user_score_cash
		<include refid="bySearchVo"/>
	</select>
	
	<sql id="bySearchVo">
	    where 1 = 1
	    <if test="userId != null">
			and user_id = #{userId,jdbcType=NUMERIC}
		</if>
		
		<if test="gameId != null and gameId != ''">
			and user_id = (select user_id from user where game_id = #{gameId,jdbcType=VARCHAR})
		</if>
		
		<if test="gameIdFrom != null and gameIdFrom != ''">
			and user_id = (select user_id from user where game_id = #{gameIdFrom,jdbcType=VARCHAR})
		</if>
		
		<if test="gameIdTo != null and gameIdTo != ''">
			and user_id = (select user_id from user where game_id = #{gameIdTo,jdbcType=VARCHAR})
		</if>
		
	    <if test="status != null">
			and status = #{status,jdbcType=NUMERIC}
		</if>
	</sql>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_score_cash
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.bole.po.model.user.UserScoreCash">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user_score_cash (user_id, score_cash, status,
		add_time, update_time)
		values (#{userId,jdbcType=NUMERIC}, #{scoreCash,jdbcType=DECIMAL}, #{status,jdbcType=NUMERIC},
		#{addTime,jdbcType=NUMERIC}, #{updateTime,jdbcType=NUMERIC})
	</insert>
	<insert id="insertSelective" parameterType="com.bole.po.model.user.UserScoreCash">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user_score_cash
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="scoreCash != null">
				score_cash,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=NUMERIC},
			</if>
			<if test="scoreCash != null">
				#{scoreCash,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				#{status,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bole.po.model.user.UserScoreCash">
		update user_score_cash
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=NUMERIC},
			</if>
			<if test="scoreCash != null">
				score_cash = #{scoreCash,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=NUMERIC},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bole.po.model.user.UserScoreCash">
		update user_score_cash
		set user_id = #{userId,jdbcType=NUMERIC},
		score_cash = #{scoreCash,jdbcType=DECIMAL},
		status = #{status,jdbcType=NUMERIC},
		add_time = #{addTime,jdbcType=NUMERIC},
		update_time = #{updateTime,jdbcType=NUMERIC}
		where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>