<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bole.po.dao.user.UserMapper">
	<resultMap id="BaseResultMap" type="com.bole.po.model.user.User">
		<id column="user_id" property="userId" jdbcType="NUMERIC" />
		<result column="user_type" property="userType" jdbcType="NUMERIC" />
		<result column="open_id" property="openId" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="pay_account" property="payAccount" jdbcType="VARCHAR" />
		<result column="head_img" property="headImg" jdbcType="VARCHAR" />
		<result column="game_id" property="gameId" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="invite_code" property="inviteCode" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="NUMERIC" />
		<result column="p_id" property="pId" jdbcType="NUMERIC" />
		<result column="p_game_id" property="pGameId" jdbcType="VARCHAR" />
		<result column="lft" property="lft" jdbcType="NUMERIC" />
		<result column="rgt" property="rgt" jdbcType="NUMERIC" />
		<result column="score_money" property="scoreMoney" jdbcType="DECIMAL" />
		<result column="score" property="score" jdbcType="DECIMAL" />
		<result column="score_last_time" property="scoreLastTime" jdbcType="NUMERIC" />
		<result column="enable" property="enable" jdbcType="NUMERIC" />
		<result column="active" property="active" jdbcType="NUMERIC" />
		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
		<result column="update_time" property="updateTime" jdbcType="NUMERIC" />
	</resultMap>
	<sql id="Base_Column_List">
	user_id, user_type, open_id, nick_name, pay_account, head_img, game_id, password, invite_code, level, 
	p_id, p_game_id, lft, rgt, score_money, score, score_last_time,
	enable, active, add_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user
		where user_id = #{userId,jdbcType=NUMERIC}
	</select>
	
	<select id="selectBySearchVo" resultMap="BaseResultMap" parameterType="com.bole.vo.UserSearchVo">
		select
		<include refid="Base_Column_List" />
		from user
		<include refid="bySearchVo"/>
		<if test="orderByProperty!=null">
			${orderByProperty}
		</if>
		<if test="orderByProperty==null or orderByProperty==''">
			order by user_id desc
		</if>
	</select>
	
	<select id="selectByListPage" resultMap="BaseResultMap" parameterType="com.bole.vo.UserSearchVo">
		select
		<include refid="Base_Column_List" />
		from user
		<include refid="bySearchVo"/>
		<if test="orderByProperty!=null">
			${orderByProperty}
		</if>
		<if test="orderByProperty==null or orderByProperty==''">
			order by user_id desc
		</if>
	</select>
	
	<select id="totalUser" resultType="java.lang.Integer" parameterType="com.bole.vo.UserSearchVo">
		select count(*) as total
		from user
		<include refid="bySearchVo"/>
	</select>
	
	<!-- 更新所有的右级 -->
	<update id="updateAllLeft" parameterType="com.bole.po.model.user.User">
		update user
		set lft = lft + 2
		where 
		<![CDATA[lft > #{rgt,jdbcType=NUMERIC}]]>
	</update>
	
	<!-- 更新所有的右级 -->
	<update id="updateAllRight" parameterType="com.bole.po.model.user.User">
		update user
		set rgt = rgt + 2
		where 
		<![CDATA[rgt >= #{rgt,jdbcType=NUMERIC}]]>
	</update>
	
	<sql id="bySearchVo">
	    where 1 = 1
	    <if test="userId != null">
			and user_id = #{userId,jdbcType=NUMERIC}
		</if>
		
	    <if test="userType != null">
			and user_type = #{userType,jdbcType=NUMERIC}
		</if>
		
	    <if test="openId != null and openId != ''">
			and open_id = #{openId,jdbcType=VARCHAR}
		</if>
		
		<if test="gameId != null and gameId != ''">
			and game_id = #{gameId,jdbcType=VARCHAR}
		</if>
		
		<if test="pGameId != null and pGameId != ''">
			and p_game_id = #{pGameId,jdbcType=VARCHAR}
		</if>
		
		<if test="password != null and password != ''">
			and password = #{password,jdbcType=VARCHAR}
		</if>
		
		<if test="inviteCode != null and inviteCode != ''">
			and invite_code = #{inviteCode,jdbcType=VARCHAR}
		</if>
		
		<if test="level != null">
			and level = #{level,jdbcType=NUMERIC}
		</if>
		
		<if test="pId != null">
			and p_id = #{pId,jdbcType=NUMERIC}
		</if>
		
		<if test="pIds != null and pIds">
			and p_id in
			<foreach item="item" index="index" collection="pIds" open="(" separator="," close=")">
				${item}
			</foreach>
		</if>
		
		<if test="getParents != null and lft != null and rgt != null">
			<![CDATA[ and lft < #{lft,jdbcType=NUMERIC} and rgt > #{rgt,jdbcType=NUMERIC} ]]>
		</if>
		
		<if test="getSubs != null and lft != null and rgt != null">
			<![CDATA[ and lft > #{lft,jdbcType=NUMERIC} and rgt < #{rgt,jdbcType=NUMERIC} ]]>
		</if>

		<if test="active != null">
			and active = #{active,jdbcType=NUMERIC}
		</if>
		
	</sql>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user
		where user_id = #{userId,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.bole.po.model.user.User">
		<selectKey resultType="java.lang.Long" keyProperty="userId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user (user_type, open_id, nick_name, pay_account,
		head_img, game_id, password, invite_code,
		level, p_id, p_game_id, lft, rgt, score_money, score,
		score_last_time, enable, active, add_time,
		update_time)
		values (#{userType,jdbcType=NUMERIC}, #{openId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
		#{payAccount,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, #{gameId,jdbcType=VARCHAR}, 
		#{password,jdbcType=VARCHAR}, #{inviteCode,jdbcType=VARCHAR},
		#{level,jdbcType=NUMERIC}, #{pId,jdbcType=NUMERIC}, 
		#{pGameId,jdbcType=VARCHAR}, #{lft,jdbcType=NUMERIC},  #{rgt,jdbcType=NUMERIC}, 
		#{scoreMoney,jdbcType=DECIMAL}, #{score,jdbcType=DECIMAL}, #{scoreLastTime,jdbcType=NUMERIC}, 
		#{enable,jdbcType=NUMERIC}, #{active,jdbcType=NUMERIC},
		#{addTime,jdbcType=NUMERIC},#{updateTime,jdbcType=NUMERIC})
	</insert>
	<insert id="insertSelective" parameterType="com.bole.po.model.user.User">
		<selectKey resultType="java.lang.Long" keyProperty="userId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userType != null">
				user_type,
			</if>
			<if test="openId != null">
				open_id,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="payAccount != null">
				pay_account,
			</if>
			<if test="headImg != null">
				head_img,
			</if>
			<if test="gameId != null">
				game_id,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="inviteCode != null">
				invite_code,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="pId != null">
				p_id,
			</if>
			<if test="pGameId != null">
				p_game_id,
			</if>
			<if test="lft != null">
				lft,
			</if>
			<if test="rgt != null">
				rgt,
			</if>
			<if test="scoreMoney != null">
				score_money,
			</if>
			<if test="score != null">
				score,
			</if>
			<if test="scoreLastTime != null">
				score_last_time,
			</if>
			<if test="enable != null">
				enable,
			</if>
			<if test="active != null">
				active,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userType != null">
				#{userType,jdbcType=NUMERIC},
			</if>
			<if test="openId != null">
				#{openId,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				#{nickName,jdbcType=VARCHAR},
			</if>
			<if test="payAccount != null">
				#{payAccount,jdbcType=VARCHAR},
			</if>
			<if test="headImg != null">
				#{headImg,jdbcType=VARCHAR},
			</if>
			<if test="gameId != null">
				#{gameId,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="inviteCode != null">
				#{inviteCode,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				#{level,jdbcType=NUMERIC},
			</if>
			<if test="pId != null">
				#{pId,jdbcType=NUMERIC},
			</if>
			<if test="pGameId != null">
				#{pGameId,jdbcType=VARCHAR},
			</if>
			<if test="lft != null">
				#{lft,jdbcType=NUMERIC},
			</if>
			<if test="rgt != null">
				#{rgt,jdbcType=NUMERIC},
			</if>
			<if test="scoreMoney != null">
				#{scoreMoney,jdbcType=DECIMAL},
			</if>
			<if test="score != null">
				#{score,jdbcType=DECIMAL},
			</if>
			<if test="scoreLastTime != null">
				#{scoreLastTime,jdbcType=NUMERIC},
			</if>
			<if test="enable != null">
				#{enable,jdbcType=NUMERIC},
			</if>
			<if test="active != null">
				#{active,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bole.po.model.user.User">
		update user
		<set>
			<if test="userType != null">
				user_type = #{userType,jdbcType=NUMERIC},
			</if>
			<if test="openId != null">
				open_id = #{openId,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				nick_name = #{nickName,jdbcType=VARCHAR},
			</if>
			<if test="payAccount != null">
				pay_account = #{payAccount,jdbcType=VARCHAR},
			</if>
			<if test="headImg != null">
				head_img = #{headImg,jdbcType=VARCHAR},
			</if>
			<if test="gameId != null">
				game_id = #{gameId,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="inviteCode != null">
				invite_code = #{inviteCode,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=NUMERIC},
			</if>
			<if test="pId != null">
				p_id = #{pId,jdbcType=NUMERIC},
			</if>
			<if test="pGameId != null">
				p_game_id = #{pGameId,jdbcType=VARCHAR},
			</if>
			<if test="lft != null">
				lft = #{lft,jdbcType=NUMERIC},
			</if>
			<if test="rgt != null">
				rgt = #{rgt,jdbcType=NUMERIC},
			</if>
			<if test="scoreMoney != null">
				score_money = #{scoreMoney,jdbcType=DECIMAL},
			</if>
			<if test="score != null">
				score = #{score,jdbcType=DECIMAL},
			</if>
			<if test="scoreLastTime != null">
				score_last_time = #{scoreLastTime,jdbcType=NUMERIC},
			</if>
			<if test="enable != null">
				enable = #{enable,jdbcType=NUMERIC},
			</if>
			<if test="active != null">
				active = #{active,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=NUMERIC},
			</if>
		</set>
		where user_id = #{userId,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bole.po.model.user.User">
		update user
		set user_type = #{userType,jdbcType=NUMERIC},
		open_id = #{openId,jdbcType=VARCHAR},
		nick_name = #{nickName,jdbcType=VARCHAR},
		pay_account = #{payAccount,jdbcType=VARCHAR},
		head_img = #{headImg,jdbcType=VARCHAR},
		game_id = #{gameId,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		invite_code = #{inviteCode,jdbcType=VARCHAR},
		level = #{level,jdbcType=NUMERIC},
		p_id = #{pId,jdbcType=NUMERIC},
		p_game_id = #{pGameId,jdbcType=VARCHAR},
		lft = #{lft,jdbcType=NUMERIC},
		rgt = #{rgt,jdbcType=NUMERIC},
		score_money = #{scoreMoney,jdbcType=DECIMAL},
		score = #{score,jdbcType=DECIMAL},
		score_last_time = #{scoreLastTime,jdbcType=NUMERIC},
		enable = #{enable,jdbcType=NUMERIC},
		active = #{active,jdbcType=NUMERIC},
		add_time = #{addTime,jdbcType=NUMERIC},
		update_time = #{updateTime,jdbcType=NUMERIC}
		where user_id = #{userId,jdbcType=NUMERIC}
	</update>
</mapper>